
{{- $sluger := .Path }}
{{- $relper := .RelPermalink }}

<nav>
	<ul class="panel">
	{{- range .Site.Menus.main -}}

		{{- $active := "" -}}{{- if eq ( eq $sluger .URL ) true -}}
			{{- $active = "active" -}}
		{{- end -}}

		{{- if eq ( eq $relper .URL ) true -}}
			{{- $active = "active" -}}
		{{- end -}}


		<li>
			<a href="{{ .URL }}" class="item {{ $active | safe.HTMLAttr }}" data-slug="{{ $sluger }}" data-perm="{{ $relper }}">
				<span class="icon">
					{{- $icon := .Pre | safe.HTMLAttr -}}{{- partial "icon"  $icon -}}
				</span>
				<span>{{ .Name }}</span>
			</a>
		</li>

	{{- end -}}
	</ul>
</nav>
