
{{- $sluger := .Path -}}
{{- $relper := trim .Section "/" -}}

<nav>
	<ul class="panel">
	{{- range .Site.Menus.main -}}

		{{- $active := "" -}}
		{{- $sector := trim .URL "/" -}}


		<!-- section menu -->
		{{- if and ( strings.Contains $sector $relper ) ( $relper ) -}}
			{{- $active = "active" -}}
		{{- end -}}

		<!-- landing menu -->
		{{- if and ( eq $sluger .URL  ) ( eq ( $relper | len ) 0 ) -}}
			{{- $active = "active" -}}
		{{- end -}}

		<li>
			<a href="{{ .URL }}" class="item {{ $active | safe.HTMLAttr }}" data-slug="{{ $sluger }}"  data-base="{{ $sector }}"  data-relper="{{ $relper }}">
				<span class="icon">
					{{- $icon := .Pre | safe.HTMLAttr -}}{{- partial "icon"  $icon -}}
				</span>
				<span>{{ .Name }}</span>
			</a>
		</li>

	{{- end -}}
	</ul>
</nav>
