
{{- $sluger := .Path    }}

{{- $relper := trim .Section "/" }}


<nav>
	<ul class="panel">
	{{- range .Site.Menus.main -}}

		{{- $active := "" -}}
		{{ $base := trim .URL "/" }}

		{{- if eq ( eq $sluger .URL ) true -}}
			{{- $active = "active" -}}
		{{- end -}}

		{{- if and ( strings.Contains $base $relper ) ( $relper ) -}}
			{{- $active = "active" -}}
		{{- end -}}


		<li>
			<a href="{{ .URL }}" class="item {{ $active | safe.HTMLAttr }}" data-slug="{{ $sluger }}"  data-base="{{ $base }}"  data-relper="{{ $relper }}">
				<span class="icon">
					{{- $icon := .Pre | safe.HTMLAttr -}}{{- partial "icon"  $icon -}}
				</span>
				<span>{{ .Name }}</span>
			</a>
		</li>

	{{- end -}}
	</ul>
</nav>
