{{- define "asset_hook" -}}
	{{- $.Scratch.Set "style_head" (dict "src" "css/head/pack.scss" "dest" "css/head/pack.css")   -}}
	{{- $.Scratch.Set "style_pack" (dict "src" "css/pack/pack.scss" "dest" "assets/css/pack.css") -}}
{{- end -}}

{{- define "main" -}}

	<div class="overlay">
		<article class="content manslist">
			<div class="header">
				<h1 class="heading">{{ .Store.Get "packers_title" }} Manual</h1>
			</div>
			<div class="pages">
				{{- with .Resources.GetMatch .Params.links  -}}
					<pre> {{ .Content }} </pre>
				{{- end -}}
			</div>
		</article>
		<asside class="sidebar">
			{{- partial "view/sides/packpost.html" . -}}
			{{- partial "view/sides/packtake.html" . -}}
			{{- partial "view/sides/packteam.html" . -}}
		</asside>
	</div>

{{- end -}}
