.banner{
    max-width: 75rem;
    margin: 0 auto;
    position: relative;

    .figure {
        width: 100%;
        height: clamp(15.625rem, 35vw, 23.125rem);
        border-radius: 18px;
        overflow: hidden;
        background: var(--darks1-color);

        .images {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(0.75);
        }
    }

    .feature {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        padding: clamp(0.625rem, 1.5vw, 0.875rem) clamp(1rem, 2vw, 1.5rem);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: clamp(0.75rem, 2vw, 1.375rem);


        .metabar {
            display: flex;
            align-items: center;
            gap: clamp(0.938rem, 2vw, 1.563rem);
            flex: 1;
            min-width: 12.5rem;

            .title {
                margin-top: 0;
                padding: clamp(0.2rem, 1vw, 0.325rem) clamp(1.125rem, 2vw, 1.625rem);
            }
        }

        .packbar {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: clamp(1.25rem, 3vw, 2.5rem);

            .download {
                display: flex;
                align-items: center;
                background: var(--prime2-color);   
                color: var(--white1-color);        
                border: none;
                padding: clamp(0.5rem, 1vw, 0.625rem) clamp(1.125rem, 2vw, 1.625rem);
                border-radius: 8px;
                font-size: clamp(13px, 1.2vw, 15px);
                font-weight: 600;
                cursor: pointer;
                white-space: nowrap;
                transition: all 0.25s ease;
                text-decoration: none;

                &::hover {
                    transform: translateY(-2px);
                    box-shadow: 0 4px 10px var(--prime3-color);
                }

                &::active {
                    transform: translateY(0px); /* balik saat ditekan */
                }

                svg{
                    height: 20px;
                    width: 20px;
                    margin-right: .5rem;
                }
            }

            .icon-btn svg {
                width: clamp(1.375rem, 2vw, 1.375rem);
                height: clamp(1.375rem, 2vw, 1.375rem);
                stroke: var(--white3-color);
                transition: stroke 0.25s ease;
            }

            .icon-btn:hover svg {
                stroke: var(--orange-color);
            }
        }
    }
}